# v0 runtime files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts

# Common ignores
node_modules/
.next/
.env*.local
.DS_Store
.vercel

bpsr-*.json
BPSR*
b_VpbGAFGoTnp-1772203562884.zip
every_talent.txt
read_xlsx.py